<!DOCTYPE HTML>

<html>
	<link href="styles/front_style.css" rel="stylesheet">
	<head>
		<title>Gastos por partido de {{equipo}}</title>
	</head>
	<body>
		<div>
			<a href="/main" class="myButton">Pagina principal</a>
			<a href="/pago" class="myButton">Ingresar un pago</a>
			<a href="/gastos_f" class="myButton">Revisar los gastos fijos de tu equipo</a>
			<a href="/logout" class="myButton">Cerrar tu sesión</a>
		</div>
		<h1>Gastos por partido de {{equipo}}</h1>
		<div>
			<form method="post">
				<p style="display:inline">Selecciona el mes:</p>
				<select>
					{% for i in range(1,13)%}
					<option name="mes"value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
				<br>
				<br>
				<table>
					<tr>
						<td>Partido del mes</td>
						<td>Gastos (ingresa el pago)</td>
						<td>Jugadores</td>
					</tr>
					{% for i in range(1,11) %}
					<tr>
						<td>{{i}}</td>
						<td><input type="text" name="{{i}}Gastos_p"></td>	
						<td>
							<input name ="{{i}}participantes" type="checkbox" value="Todos" checked>Todos
							{% for a in jugadores %}
							<input name ="{{i}}participantes" type="checkbox" value="{{a.nombre}}" >{{a.nombre}}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</table>
				<br>
				<input type="submit" value="Guardar">
			</form>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/script/gastos_p_script.js" type="text/javascript" ></script>
	</body>
</html>