<!DOCTYPE HTML>

<html>
	<head>
		<title>Finanzas MOTLEY</title>
	</head>
	<style type="text/css">
		.error {
		color:red;
		}
	</style>
	<body>
		<form method = "post">
			<h1><strong>Sos nuevo? Sumate!!!</strong></h1>
			<label>
			
			<div>Nombre</div>
			<input type="text" name = "inombre" value={{inombre}}>
			
			</label>
			
			<label>
			
			<div>Apellido</div>
			<input type="text" name = "iapellido" value={{iapellido}}>
			
			</label>
			
			<label>
			
			<div>Nombre de usuario</div>
			<input type="text" name = "iusuario" value={{iusuario}}>
			
			</label>
			
			<label>
			
			<div>Password</div>
			<input type="password" name="ipass" value={{ipass}}>
			
			</label>
			
			<label>
			
			<div>Reingresa tu password</div>
			<input type="password" name="iverif" value={{iverif}}>
			<div class="error">{{errorVerif}}</div>
			
			</label>
			
			<input type="submit">
			
		</form>
		<p> Si ya tenés usuario hace click</p> <a href="/"> aquí</a>
	</body>
</html>