<!DOCTYPE HTML>
<!-- falta agregarle el javascript para que se habilite la caja solo cuando elijo otro, lo que esta puesto esta mal-->
<html>
	<head>
		<title>Finanzas MOTLEY</title>
		<script src="myscripts.js"></script>
	</head>
	<style type="text/css">
		.error {
		color:red;
		}
	</style>
	<body>
		<form method = "post">
			<h1><strong>PAGOS DE MOTLEY</strong></h1>
			<label>
			
			<div>Jugador</div>
				<div class="radio">  
					<input id="propio" type="radio" name="pjugador" value="propio">  
					<label for="propio">Propio</label>  
					<input id="otro" type="radio" name="pjugador" value="otro">  
					<label for="otro" onclick="var input = document.getElementById('otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}"  />Otro</label>
				</div>
			<input type="text" id = "otro" " name = "ijugador" value={{ijugador}} >
			<div class="error">{{errorJugador}}</div>
			
			</label>
			
			<label>
			
			<div>Monto</div>
			<input type="text" name="imonto">
			
			</label>
			
			<label>
			
			<div>Descripcion</div>
			<textarea name="idescripcion"></textarea>
			
			</label>
			<br>
			<div class="error">{{error}}</div>
			
			<input type="submit">
			
		</form>
	</body>
</html>